PORT=3000
SESSION_SECRET=your_super_secret_session_key

# Redis Configuration
REDIS_URL=redis://localhost:6379

# JWT Secret
JWT_SECRET=your_jwt_secret_key

# Nodemailer
EMAIL_SERVICE="hotmail"
EMAIL_USERNAME="your_email"
EMAIL_PASSWORD="your_password"

# Azure Communication Services (Email)
AZURE_EMAIL_CONNECTION_STRING="your_azure_connection_string"
AZURE_EMAIL_SENDER="your_azure_sender_email"

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3000/oauth/google/callback

# Microsoft OAuth
MICROSOFT_CLIENT_ID=your_microsoft_client_id
MICROSOFT_CLIENT_SECRET=your_microsoft_client_secret
MICROSOFT_CALLBACK_URL=http://localhost:3000/oauth/microsoft/callback
